<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="httplist://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title>铁路隐私计算平台</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<style>
  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    right: 0;
  }

</style>
</head>
<body>
	 <style>
    #menu-guest .Hui-menu-title,
    #menu-guest .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }

    #menu-data-confirmation .Hui-menu-title,
    #menu-data-confirmation .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }
    </style>
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">隐私计算</span>
			</a>
		</div>
        <div class="Hui-admin-menu-dropdown bk_2">

            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
				 </dd>

			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
				</dd>
{#                <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li><a href="/model-application/" title="数据申请情况查看">数据申请情况查看</a></li>#}
{#					</ul>#}
{#				</dd>#}
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>
	<div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
	<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
                            <li><a href="/tdindex/" title="返回">返回</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!--/_header 作为公共模版分离出去-->
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
                <span class="c-gray en">/</span>
				模型应用
				<span class="c-gray en">/</span>
				模型使用
			</nav>
			<article class="Hui-admin-content clearfix">
				<div class="panel mt-20">
					<div class="panel-body"发布>
						<div class="clearfix">
{#							<span class="f-l">#}
{#                                <a href="javascript:;" onclick="model_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加模型</a>#}
{#								<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>#}
{#							</span>#}
{#							<span class="f-r">共有数据：<strong>1</strong> 条</span>#}
						</div>
						<div class="clearfix mt-20">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
									<tr class="text-c">
                                        <th width="30">选择</th>
										<th width="80">模型ID</th>
										<th width="100">参与者</th>
										<th width="90">模型名称</th>
										<th width="100">项目名称</th>
                                        <th width="100">是否可使用</th>
                                        <th width="100">应用申请</th>
                                        <th width="100">模型应用</th>
                                        <th width="100">数据名称</th>
									</tr>
								</thead>
								<tbody id="info">
								</tbody>
							</table>
						</div>
                         <div id="myModal" class="modal">

                          <!-- 模态框内容 -->
                          <div class="modal-content">
                            <p>模型预测中，请稍候...</p>
                            <div class="loader"></div>
                          </div>

                        </div>
                        <div id="myModal1" class="modal">

                          <!-- 模态框内容 -->
                          <div class="modal-content">
                            <p>结果处理中，请稍候...</p>
                            <div class="loader"></div>
                          </div>

                        </div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/static/static/business/js/main.js"></script>
	<script type="text/javascript">
        // 显示模态框
        function showModal() {
          document.getElementById('myModal').style.display = "block";
        }

        // 隐藏模态框
        function hideModal() {
          document.getElementById('myModal').style.display = "none";
        }
        function showModal1() {
          document.getElementById('myModal1').style.display = "block";
        }

        // 隐藏模态框
        function hideModal1() {
          document.getElementById('myModal1').style.display = "none";
        }
		$(function(){
			$.ajax({
				type:"post",
				url:"/application_model-main_search/",
				dataType:'json',
				success:function (res) {
					console.log("res",res);
					str=''
					if(res.status=="0"){
						var Result=res.data;
						console.log(Result);
						for(var j=0;j<Result.length;j++){
                            str+='<tr class="text-c">'+
                                '<td>' +
                                    '<input type="radio" name="selected_interface" ' +
                                            'data-dataname="' + Result[j][5] + '" '+
                                            'data-projectname="' + Result[j][3] + '" '+
                                '</td>' +
                             '<td>'+Result[j][0]+'</td>'+
                            '<td>'+Result[j][1]+'</td>'+
                            '<td>'+Result[j][2]+'</td>'+
                            '<td>'+Result[j][3]+'</td>'+
                            '<td>'+Result[j][4]+'</td>'+
                                '<td> <a href="javascript:;" onclick="getApplyDetail() " class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 查看数据申请情况 </a></td>'+
                                '<td> <a href="javascript:;" onclick="model_test() " class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 运行 </a></td>'+
                            {% comment %}'<td><a href="/model-application/" title="模型使用" style="color: cornflowerblue;">' +
                                '<i class="Hui-iconfont"></i>数据申请情况</a>'+
                            '<br><a title="模型应用" onclick="model_test(this,\''+Result[j][0]+'\')" style="color: cornflowerblue;">' +
                                '<i class="Hui-iconfont"></i>模型应用</a>' +{% endcomment %}
                                '<td>'+Result[j][5]+'</td>'+
                            '</tr>'
						}
						$("#info").append(str)
					}
				}
			})
		});

         function getApplyDetail(obj, modelid) {
        location.href = "/model-application/";
        }

        function model_test(obj, modelid) {
                const selectedRadio = document.querySelector('input[name="selected_interface"]:checked');
                if (!selectedRadio) {
                    layer.msg('请先选择一条数据', {icon: 2});
                    return;
                }
                const webName = selectedRadio.dataset.dataname;
                const projectName = selectedRadio.dataset.projectname;
                const webinfo=[];
                const webdic={
                    webName:webName,
                    projectName:projectName,
                    type:"2",
                };
                webinfo.push(webdic);
                console.log(webinfo);
                const webdata = JSON.stringify(webinfo)
                $("myButton").show();
                showModal();
                {#setTimeout(hideModal, 8000); // 3秒后隐藏模态框#}
                {#setTimeout(showModal1, 10000); // 3秒后隐藏模态框#}
                {#setTimeout(hideModal1, 15000); // 3秒后隐藏模态框#}
                $.ajax({
                    type: 'GET',
                    url: "/model-predict/",
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);
                        if (res.status == "0") {
                            alert("模型调用成功！");
                            alert("港口数据梯度提取成功！");
                        hideModal();
                        setTimeout(function (){
                            showModal1();
                            alert("样本对齐");
                            setTimeout(function (){
                                alert("结果已合并");
                                alert("结果保存成功！");
                                hideModal1();
                                // 发送区块链请求，完成后跳转
                                $.ajax({
                                    type: "POST",
                                    url: "/useBlockchain/",
                                    data: webdata,
                                    contentType: 'application/json',  // 添加内容类型
                                    dataType: 'json', // 修复数据类型
                                    success: function (res) {
                                        console.log("区块链响应:", res);
                                        alert("区块链存证成功！");
                                        location.href = "/application_model-main/";
                                    },
                                    error: function(xhr) {
                                        console.error("区块链请求失败:", xhr.status, xhr.statusText);
                                        alert("区块链存证失败，但操作将继续！");
                                        location.href = "/application_model-main/";
                                    }
                                });
                            },3000)
                        },1000)

                        } else if (res.status == "1") {
                            alert("测试未成功！");
                        } else {
                            alert("连接失败！");
                        }
                    },
                });

        }
       function modeldel_list(obj,modelid) {
			location.href = "/modeldel-list/"+modelid+"/";
		}

		function member_edit(obj,userid) {
			var id=JSON.stringify(userid);
			sessionStorage.setItem("userid",id);

			location.href = "/member-edit/";
		}

		function model_add(obj,userid) {
			location.href = "/model-add/";
		}

		function member_dele(obj,id) {
			console.log("id:",id);
			var userinfo={
			    userid:id
            };
			var userdata = JSON.stringify(userinfo)
            console.log(userinfo)
            console.log(userdata)
			layer.confirm('确认要删除吗？', function (index) {
				$.ajax({
					type: 'post',
					url: '/deleteuser/',
					dataType: 'json',
					data: userdata,
					success: function (data) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {icon: 1, time: 1000});
					},
					error: function (data) {
						console.log("1");
					},
				});
			});
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
