<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据存证信息</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/lib/html5.js"></script>
	<script type="text/javascript" src="/static/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">铁路隐私计算平台</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
      <dl id="menu-home" class="Hui-menu">
        <dd class="Hui-menu-item-frist">
          <ul>
            <li><a href="_blank.html" title="单方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 单方</a></li>
          </ul>
        </dd>
      </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-model" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
                </dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
             <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 数据管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/data_asset_list/" title="数据列表">数据列表</a></li>
					</ul>
				</dd>

			</dl>
             <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 存证信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="http://127.0.0.1:8000/records/" title="数据存证信息">数据存证信息</a></li>
					</ul>
				</dd>

			</dl>
		</div>
        <div class="Hui-admin-menu-dropdown bk_2">
      <dl id="menu-home" class="Hui-menu">
        <dd class="Hui-menu-item-frist">
          <ul>
            <li><a href="_blank.html" title="多方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 多方</a></li>
          </ul>
        </dd>
      </dl>
             <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 外部合作者管理<i
                        class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/multguest-list/" title="参与者列表">外部合作者列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-model" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li ><a href="http://127.0.0.1:8000/multmodel-list/" title="模型列表">模型列表</a></li>
                </ul>
                <ul>
                    <li><a href="http://127.0.0.1:8000/multsample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
                </ul>
                <ul>
                    <li><a href="http://127.0.0.1:8000/multtrain-model/" title="模型训练结果查看">模型训练结果查看</a></li>
                </ul>
            </dd>
            </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/multapplication_model-main/" title="模型使用">模型使用</a></li>
					</ul>
					<ul>
						<li><a href="http://127.0.0.1:8000/multapplication_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
		</div>
    </aside>
 <div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
          <nav id="Hui-topNav" class="nav navbar-nav">
            <ul class="clearfix">
              {% comment %}<li><a href="">顶部菜单</a></li>{% endcomment %}
              <li class="dropDown dropDown_hover">
                {% comment %}<a class="dropDown_A" href="javascript:;">顶部菜单</a>{% endcomment %}
                <ul class="dropDown-menu menu radius box-shadow">
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
							{% comment %}<li>超级管理员</li>{% endcomment %}
							<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
									<li><a href="#">切换账户</a></li>
									<li><a href="#">退出</a></li>
								</ul>
							</li>
</ul>
					</nav>
				</div>
			</div>
		</header>
		<!--/_header 作为公共模版分离出去-->
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				存证信息管理
				<span class="c-gray en">/</span>
				数据存证信息

			</nav>

<article class="Hui-admin-content clearfix">
  <div class="panel mt-20">
					<div class="panel-body"发布>
                    <div class="clearfix">

        <input type="text" id="searchInput" placeholder="输入数据资产名进行搜索" class="form-control" style="width: 200px; float: left; margin-right: 10px;height: 30px">
        <button id="searchButton" class="btn btn-primary" style="float: left;">搜索</button>
        <!-- 其他按钮可以放在这里 -->


      </div>

						<div class="clearfix mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr>
                <th width="60">名称</th>
                <th width="70">所有者</th>
                <th width="80">资产字段</th>
                <th width="80">资产格式</th>
                <th width="80">资产级别</th>
                <th width="80">资产路径</th>
                <th width="80">开始状态</th>
                <th width="60">结束状态</th>
                <th width="60">操作</th>
                <th width="80">交易时间</th>
                <th width="60">交易ID</th>
                <th width="80">交易哈希</th>

            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.assetName }}</td>
                <td>{{ record.assetOwner }}</td>
                <td>{{ record.assetField }}</td>
                <td>{{ record.assetFormat }}</td>
                <td>{{ record.assetLevel }}</td>
                <td>{{ record.assetPath }}</td>
                <td>{{ record.star_status }}</td>
                <td>{{ record.end_status }}</td>
                <td>{{ record.operation }}</td>
                <td>{{ record.txTime }}</td>
                <td>{{ record.txID }}</td>
                <td>{{ record.txHash }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
  </div>
</article>
		</div>
	</section>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/static/static/business/js/main.js"></script>
<script type="text/javascript">
    var currentUser = {
            id: "{{ current_user.id }}",
            account: "{{ current_user.account }}",
        };

document.addEventListener('DOMContentLoaded', function() {
  // 获取搜索按钮和输入框
  const searchButton = document.getElementById('searchButton');
  const searchInput = document.getElementById('searchInput');
  const tableBody = document.querySelector('tbody');

  // 添加点击事件监听
  searchButton.addEventListener('click', function() {
    performSearch();
  });

  // 搜索函数
  function performSearch() {
    const searchTerm = searchInput.value.toLowerCase();
    const rows = tableBody.getElementsByTagName('tr');

    // 遍历表格的每一行
    for (let i = 0; i < rows.length; i++) {
      const row = rows[i];
      const nameCell = row.cells[0]; // 第一列是名称
      const name = nameCell.textContent.toLowerCase();

      // 如果名称包含搜索词，则显示该行，否则隐藏
      if (name.includes(searchTerm)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    }
  }
  // 打印当前用户信息到控制台（用于调试）
        console.log("当前用户ID:", currentUser.id);
        console.log("当前用户名:", currentUser.account);
});
</script>
</body>
</html>