<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
    {#	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
    <!--[if IE 6]>
    {#	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>#}
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>铁路隐私计算平台</title>
    <meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <style>
       .loader {
            border: 6px solid #f3f3f3;
            border-radius: 50%;
            border-top: 6px solid #3498db;
            width: 40px;
            height: 40px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

       .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

       .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
            right: 0;
        }
    </style>
</head>
<body>
    <!--_menu 作为公共模版分离出去-->
    <aside class="Hui-admin-aside-wrapper">
        <div class="Hui-admin-logo-wrapper">
            <a class="logo navbar-logo" href="/aboutHui.shtml">
                <i class="va-m iconpic global-logo"></i>
                <span class="va-m">铁路隐私计算平台</span>
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="progressModalLabel">Model Test Progress</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" id="progress-bar"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Hui-admin-menu-dropdown bk_2">
            <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li ><a href="http://127.0.0.1:8000/guest-list/" title="参与者列表">参与者列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-model" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li ><a href="http://127.0.0.1:8000/model-list/" title="模型列表">模型列表</a></li>
                    </ul>
                    <ul>
                        <li ><a href="http://127.0.0.1:8000/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
                    </ul>
                    <ul>
                        <li ><a href="http://127.0.0.1:8000/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li> <a href="http://127.0.0.1:8000/application_model-main/" title="模型使用">模型使用</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/application_result/" title="模型应用结果">模型应用结果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 项目信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li class="current"><a href="http://127.0.0.1:8000/established_project/" title="已建立项目">已建立项目</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/pengding_project/" title="待接受项目">待接受项目</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </aside>
    <div class="Hui-admin-aside-mask"></div>

    <div class="Hui-admin-dislpayArrow">
        <a href="javascript:void(0);" onClick="displaynavbar(this)">
            <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
            <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
        </a>
    </div>
    <section class="Hui-admin-article-wrapper">
        <!--_header 作为公共模版分离出去-->
        <header class="Hui-navbar">
            <div class="navbar">
                <div class="container-fluid clearfix">
                    <nav id="Hui-topNav" class="nav navbar-nav">
                        <ul class="clearfix">
                            <li class="dropDown dropDown_hover">
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li class="">
                                        <a href="#">二级导航</a>
                                    </li>
                                    <li class="">
                                        <a href="#">二级导航</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
                        <ul class="clearfix">
                            <li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
                                    <li><a href="#">切换账户</a></li>
                                    <li><a href="#">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--/_header 作为公共模版分离出去-->
        <div class="Hui-admin-article">
            <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
                首页
                <span class="c-gray en">/</span>
                项目信息管理
                <span class="c-gray en">/</span>
                项目申请
            </nav>

            <article class="Hui-admin-content clearfix">
                <div class="panel mt-20">
                    <div class="panel-body"发布>
                        <div class="clearfix">
                            <span class="f-l">
                                <a href="javascript:;" onclick="project_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 项目申请</a>
                            </span>
                        </div>
                        <div class="clearfix mt-20">
                            <table class="table table-border table-bordered table-hover table-bg table-sort">
                                <thead>
                                    <tr class="text-c">
                                        <th width="80">项目名称</th>
                                        <th width="100">数据需求方</th>
                                        <th width="90">数据所有方</th>
                                        <th width="100">所需数据资产</th>
                                        <th width="120">安全等级</th>
                                        <th width="100">共享方式</th>
                                        <th width="120">申请状态</th>
                                        <th width="150">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="info">
                                </tbody>
                            </table>
                        </div>

                        <div id="myModal" class="modal">
                            <!-- 模态框内容 -->
                            <div class="modal-content">
                                <p>模型预测中，请稍候...</p>
                                <div class="loader"></div>
                            </div>
                        </div>
                        <div id="myModal1" class="modal">
                            <!-- 模态框内容 -->
                            <div class="modal-content">
                                <p>结果处理中，请稍候...</p>
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
    <!--/_footer /作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="/static/static/business/js/main.js"></script>
    <script type="text/javascript">
        // 显示模态框
        function showModal() {
            document.getElementById('myModal').style.display = "block";
        }

        // 隐藏模态框
        function hideModal() {
            document.getElementById('myModal').style.display = "none";
        }

        function showModal1() {
            document.getElementById('myModal1').style.display = "block";
        }

        // 隐藏模态框
        function hideModal1() {
            document.getElementById('myModal1').style.display = "none";
        }

 $(function () {
            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8000/get_project_data/",
                dataType: 'json',
                success: function (res) {
                    console.log("res", res);
                    if (res.status === "0") {
                        var dataList = res.data;
                        var tableBody = $('#info');
                        dataList.forEach(function (item) {
                            var statusText = "";
                            switch (item.currentStatus) {
                                case '0':
                                    statusText = "发起";
                                    break;
                                case '1':
                                    statusText = "审核";
                                    break;
                                case '2':
                                    statusText = "正在进行";
                                    break;
                                case '3':
                                    statusText = "完成";
                                    break;
                                default:
                                    statusText = "未知状态";
                            }
                            var row = $('<tr class="text-c"></tr>');
                            console.log("获取的id:", item.ID);
                            row.append('<td>' + item.projectName + '</td>');
                            row.append('<td>' + item.dataDemand + '</td>');
                            row.append('<td>' + item.dataOwner + '</td>');
                            row.append('<td>' + item.dataAsset + '</td>');
                            row.append('<td>' + item.dataSecurity + '</td>');
                            row.append('<td>' + item.shareWay + '</td>');
                            row.append('<td>' + statusText + '</td>');
                            // 使用 data-* 属性传递数据，包括项目 id
                            var actions = '<td>' +
                                '<a title="修改" data-item=\'' + JSON.stringify(item) + '\' data-id="' + item.ID + '" onclick="project_edit(this)"><i class="Hui-iconfont">&#xe6df;</i></a> ' +
                                '<a title="删除" onclick="project_delete(\'' + item.projectName + '\', \'' + item.dataDemand + '\', \'' + item.dataOwner + '\', \'' + item.dataAsset + '\')"><i class="Hui-iconfont">&#xe6e2;</i></a> ' +
                                '<a title="提交" onclick="project_submit(\'' + item.id + '\')"><i class="Hui-iconfont">&#xe600;</i></a>' +
                                '</td>';
                            row.append(actions);
                            tableBody.append(row);
                        });
                    } else {
                        alert(res.message);
                    }
                },
                error: function (error) {
                    console.error("请求失败:", error.status, error.statusText, error.responseText);
                    alert("请求数据失败，请稍后重试");
                }
            });
        });

        //修改项目
        function project_edit(elem) {
            var item = JSON.parse(elem.getAttribute('data-item'));
            var id = elem.getAttribute('data-id');
            console.log("id:", id);
            try {
                // 构建携带数据的 URL，包括项目 id
                var queryString = `id=${encodeURIComponent(id)}&project_name=${encodeURIComponent(item.projectName)}&data_demander=${encodeURIComponent(item.dataDemand)}&data_owner=${encodeURIComponent(item.dataOwner)}&data_asset=${encodeURIComponent(item.dataAsset)}&security_level=${encodeURIComponent(item.dataSecurity)}&trans_mode=${encodeURIComponent(item.shareWay)}`;
                var targetUrl = "http://127.0.0.1:8000/project_add/?" + queryString;
                console.log("跳转URL:", targetUrl);
                location.href = targetUrl;
            } catch (error) {
                console.error("JSON解析错误:", error);
                alert("解析数据时出现错误，请检查数据格式。");
            }
        }







        function project_add() {
            location.href = "http://127.0.0.1:8000/project_add/";
        }
        // 删除操作函数
        function project_delete(projectName, dataDemand, dataOwner, dataAsset) {
    layer.confirm('确认要删除吗？', function (index) {
        // 这里需要根据实际情况发送删除请求
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:8000/delete_project/', // 替换为实际的删除接口
            data: {
                projectName: projectName,
                dataDemand: dataDemand,
                dataOwner: dataOwner,
                dataAsset: dataAsset
            },
            success: function (res) {
                if (res.status === '0') {
                    layer.msg('删除成功', { icon: 1 });
                    // 刷新页面或重新加载数据
                    location.reload();
                } else {
                    layer.msg('删除失败：' + res.message, { icon: 2 });
                }
            },
            error: function (error) {
                console.error("删除请求失败:", error.status, error.statusText, error.responseText);
                layer.msg('删除请求失败，请稍后重试', { icon: 2 });
            }
        });
        layer.close(index);
    });
}




// 提交操作函数
function project_submit(id) {
    layer.confirm('确认要提交吗？', function (index) {
        // 这里需要根据实际情况发送提交请求
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:8000/submit_project/', // 替换为实际的提交接口
            data: { id: id },
            success: function (res) {
                if (res.status === '0') {
                    layer.msg('提交成功', { icon: 1 });
                    // 刷新页面或重新加载数据
                    location.reload();
                } else {
                    layer.msg('提交失败：' + res.message, { icon: 2 });
                }
            },
            error: function (error) {
                console.error("提交请求失败:", error.status, error.statusText, error.responseText);
                layer.msg('提交请求失败，请稍后重试', { icon: 2 });
            }
        });
        layer.close(index);
    });
}

    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
