<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title>铁路隐私计算平台</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
   <style>
    #menu-guest .Hui-menu-title,
    #menu-guest .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }

    #menu-data-confirmation .Hui-menu-title,
    #menu-data-confirmation .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }
    </style>
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">隐私计算</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
                </dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
		</div>

{#        <div class="Hui-admin-menu-dropdown bk_2">#}
{#      <dl id="menu-home" class="Hui-menu">#}
{#        <dd class="Hui-menu-item-frist">#}
{#          <ul>#}
{#            <li><a href="_blank.html" title="单方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 多方</a></li>#}
{#          </ul>#}
{#        </dd>#}
{#      </dl>#}
{#            <dl id="menu-guest" class="Hui-menu">#}
{#				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>#}
{#				<dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/guest-list/" title="参与者列表">参与者列表</a></li>#}
{#                        <li><a href="/guest-record-browse/" title="浏览记录">浏览记录</a></li>#}
{#					</ul>#}
{#				</dd>#}
{#			</dl>#}
{#			<dl id="menu-guest" class="Hui-menu">#}
{#                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>#}
{#                <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/model_list/" title="会员列表">模型列表</a></li>#}
{#					</ul>#}
{#                </dd>#}
{#                <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/sample-alignment/" title="会员列表">样本对齐情况</a></li>#}
{#					</ul>#}
{#				</dd>#}
{#                 <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/train-model/" title="会员列表">模型训练结果查看</a></li>#}
{#					</ul>#}
{#				 </dd>#}
{##}
{#                <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/sample-alignment/" title="会员列表">样本对齐情况</a></li>#}
{#					</ul>#}
{#				</dd>#}
{#                 <dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li class="current"><a href="/train-model/" title="会员列表">模型训练结果查看</a></li>#}
{#					</ul>#}
{#				 </dd>#}
{#			</dl>#}
{#		</div>#}
	</aside>


	<div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
	<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
                            <li><a href="/tdindex/" title="返回">返回</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!--/_header 作为公共模版分离出去-->
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				参与者管理
				<span class="c-gray en">/</span>
				参与者列表
			</nav>

			<article class="Hui-admin-content clearfix">
{#				<div class="panel">#}
{#					<div class="panel-body"发布>#}
{#						<div class="text-c"> 日期范围：#}
{#							<input type="text" id="search-datetime-start" class="input-text datetimepicker-input" style="width:120px;">#}
{#							-#}
{#							<input type="text" id="search-datetime-end" class="input-text datetimepicker-input" style="width:120px;">#}
{#							<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">#}
{#							<button type="submit" class="btn btn-success radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
				<div class="panel mt-20">
					<div class="panel-body"发布>
						<div class="clearfix">
							<span class="f-l">
                                <a href="javascript:;" onclick="guest_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加参与者</a>
								{% comment %}<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>{% endcomment %}
							</span>
							{% comment %}<span class="f-r">共有数据：<strong>3</strong> 条</span>{% endcomment %}
						</div>
						<div class="clearfix mt-20">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
									<tr class="text-c">
										<th width="80">ID</th>
										<th width="100">参与者</th>
                                        {% comment %}<th width="100">用户名</th>
                                        <th width="100">密码</th>{% endcomment %}
                                        <th width="100">共享数据地址</th>
										<th width="90">ip地址</th>
										<th width="100">操作</th>
                                        <th width="100">状态</th>
                                        <th width="100">测试时间</th>
                                        {% comment %}<th width="100">备注</th>{% endcomment %}
                                        <th width="100">管理</th>
									</tr>
								</thead>
								<tbody id="info">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/static/static/business/js/main.js"></script>
	<script type="text/javascript">

		$(function(){
			$.ajax({
				type:"post",
				url:"/searchguest/",
				dataType:'json',
				success:function (res) {
					console.log("res",res);
					str=''
					if(res.status=="0"){
						var Result=res.data;
						console.log(Result);
						for(var j=0;j<Result.length;j++){
                            str+='<tr class="text-c">'+
                             '<td>'+Result[j][0]+'</td>'+
                            '<td>'+Result[j][1]+'</td>'+
                                {% comment %}'<td>'+Result[j][6]+'</td>'+
                                '<td>'+Result[j][7]+'</td>'+{% endcomment %}
                                '<td>'+Result[j][8]+'</td>'+

                            '<td>'+Result[j][2]+'</td>'+
                            '<td><a title="测试" onclick="guest_test(this,\''+Result[j][0]+'\')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6df;</i>测试</a>'+
                               '<td>'+Result[j][3]+'</td>'+
                                '<td>'+Result[j][4]+'</td>'+
                                {% comment %}'<td>'+Result[j][5]+'</td>'+{% endcomment %}
                                '<td><a title="编辑" onclick="member_edit(this,\''+Result[j][0]+'\')"><i class="Hui-iconfont">&#xe6df;</i>编辑</a><a title="删除" onclick="member_dele(this,\''+Result[j][0]+'\')"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>'+
                            '</tr>'
						}
						$("#info").append(str)
					}
				}
			})
		});

        function guest_test(obj, id) {
            console.log("id是", id);
            var csrf_token = getCookie("csrftoken");
            var userinfo=[];
            var userdic={
                id:id,
            };
            userinfo.push(userdic);
            console.log("userinfo",userinfo);
            var userdata = JSON.stringify(userinfo);
            $.ajax({
                type: 'POST',
                url: "/pingtest/",
                dataType:'json',
                data: userdata,
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function (res) {
                    console.log(res);
                    if (res.status == "0") {
                        alert("连接成功！");
                    } else if (res.status == "1") {
                        alert("测试未成功！");
                    } else {
                        alert("连接失败！");
                    }
                }
            });
            location.href = "/guest-list/";
        }

        // 获取 Cookie 中的 CSRF 令牌
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

		function member_edit(obj,userid) {
			var id=JSON.stringify(userid);
			sessionStorage.setItem("userid",id);

			location.href = "/member-edit/";
		}

		function guest_add(obj,userid) {
			location.href = "/guest-add/";
		}
		
		function member_dele(obj,id) {
			console.log("id:",id);
			var userinfo={
			    userid:id
            };
			var userdata = JSON.stringify(userinfo)
            console.log(userinfo)
            console.log(userdata)
			layer.confirm('确认要删除吗？', function (index) {
				$.ajax({
					type: 'post',
					url: '/deleteguest/',
					dataType: 'json',
					data: userdata,
					success: function (data) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {icon: 1, time: 1000});
					},
					error: function (data) {
						console.log("1");
					},
				});
			});
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
