   <style>
    #menu-guest .Hui-menu-title,
    #menu-guest .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }

    #menu-data-confirmation .Hui-menu-title,
    #menu-data-confirmation .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }
 </style>
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">隐私计算</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
      <dl id="menu-home" class="Hui-menu">
        <dd class="Hui-menu-item-frist">
          <ul>
            <li><a href="_blank.html" title="单方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 单方</a></li>
          </ul>
        </dd>
      </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
					<ul>
						<li ><a href="/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
                </dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
					<ul>
						<li><a href="/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
		</div>
</aside>