<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">H-ui.admin</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
      <dl id="menu-home" class="Hui-menu">
        <dd class="Hui-menu-item-frist">
          <ul>
            <li><a href="_blank.html" title="单方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 单方</a></li>
          </ul>
        </dd>
      </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-model" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
                </dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
					<ul>
						<li><a href="http://127.0.0.1:8000/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 项目信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/established_project/" title="已建立项目">已建立项目</a></li>
					</ul>
					<ul>
						<li><a href="http://127.0.0.1:8000/pengding_project/" title="待接受项目">待接受项目</a></li>
					</ul>
				</dd>
			</dl>
		</div>
</aside>