<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
{#	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
    <!--[if IE 6]>
{#	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>#}
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title>铁路隐私计算平台</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <style>
  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    right: 0;
  }

</style>
</head>
<body>
	<!--_menu 作为公共模版分离出去-->
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">铁路隐私计算平台</span>
			</a>
		</div>
        <!-- Modal -->
        <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="progressModalLabel">Model Test Progress</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" id="progress-bar"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
		<div class="Hui-admin-menu-dropdown bk_2">
{#		      <dl id="menu-home" class="Hui-menu">#}
{#        <dd class="Hui-menu-item-frist">#}
{#          <ul>#}
{#            <li><a href="_blank.html" title="单方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 单方</a></li>#}
{#          </ul>#}
{#        </dd>#}
{#      </dl>#}
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 参与者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li ><a href="http://127.0.0.1:8000/guest-list/" title="参与者列表">参与者列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-model" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="http://127.0.0.1:8000/model-list/" title="模型列表">模型列表</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/sample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
					</ul>
					<ul>
						<li ><a href="http://127.0.0.1:8000/train-model/" title="模型训练结果查看">模型训练结果查看</a></li>
					</ul>
                </dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li> <a href="http://127.0.0.1:8000/application_model-main/" title="模型使用">模型使用</a></li>
					</ul>
{#					<ul>#}
{#						<li><a href="http://127.0.0.1:8000/model-application/" title="数据申请情况查看">数据申请情况查看</a></li>#}
{#					</ul>#}
					<ul>
						<li><a href="http://127.0.0.1:8000/application_result/" title="模型应用结果">模型应用结果</a></li>
					</ul>
				</dd>
			</dl>
		</div>
{#         <div class="Hui-admin-menu-dropdown bk_2">#}
{#      <dl id="menu-home" class="Hui-menu">#}
{#        <dd class="Hui-menu-item-frist">#}
{#          <ul>#}
{#            <li><a href="_blank.html" title="多方"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 多方</a></li>#}
{#          </ul>#}
{#        </dd>#}
{#      </dl>#}
{#             <dl id="menu-guest" class="Hui-menu">#}
{#                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 外部合作者管理<i#}
{#                        class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>#}
{#                <dd class="Hui-menu-item" style="display:block">#}
{#                    <ul>#}
{#                        <li><a href="http://127.0.0.1:8000/multguest-list/" title="参与者列表">外部合作者列表</a></li>#}
{#                    </ul>#}
{#                </dd>#}
{#            </dl>#}
{#            <dl id="menu-model" class="Hui-menu">#}
{#            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i#}
{#                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>#}
{#            <dd class="Hui-menu-item" style="display:block">#}
{#                <ul>#}
{#                    <li ><a href="http://127.0.0.1:8000/multmodel-list/" title="模型列表">模型列表</a></li>#}
{#                </ul>#}
{#                <ul>#}
{#                    <li><a href="http://127.0.0.1:8000/multsample-alignment/" title="样本对齐情况">样本对齐情况</a></li>#}
{#                </ul>#}
{#                <ul>#}
{#                    <li><a href="http://127.0.0.1:8000/multtrain-model/" title="模型训练结果查看">模型训练结果查看</a></li>#}
{#                </ul>#}
{#            </dd>#}
{#            </dl>#}
{#            <dl id="menu-guest" class="Hui-menu">#}
{#				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>#}
{#				<dd class="Hui-menu-item" style="display:block">#}
{#					<ul>#}
{#						<li><a href="http://127.0.0.1:8000/multapplication_model-main/" title="模型使用">模型使用</a></li>#}
{#					</ul>#}
{#					<ul>#}
{#						<li><a href="http://127.0.0.1:8000/multapplication_result/" title="模型应用结果">模型应用结果</a></li>#}
{#					</ul>#}
{#				</dd>#}
{#			</dl>#}
{#		</div>#}
	</aside>
	<div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
	<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
          <nav id="Hui-topNav" class="nav navbar-nav">
            <ul class="clearfix">
{#              <li><a href="">顶部菜单</a></li>#}
              <li class="dropDown dropDown_hover">
{#                <a class="dropDown_A" href="javascript:;">顶部菜单</a>#}
                <ul class="dropDown-menu menu radius box-shadow">
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
{#							<li>超级管理员</li>#}
							<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
									<li><a href="#">切换账户</a></li>
									<li><a href="#">退出</a></li>
								</ul>
							</li>
{#							<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>#}
{#							<li id="Hui-skin" class="dropDown dropDown_hover right">#}
{#								<a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>#}
{#								<ul class="dropDown-menu menu radius box-shadow">#}
{#									<li><a href="javascript:;" data-val="default" title="默认（蓝色）">默认（深蓝）</a></li>#}
{#									<li><a href="javascript:;" data-val="black" title="黑色">黑色</a></li>#}
{#									<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>#}
{#									<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>#}
{#									<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>#}
{#									<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>#}
{#								</ul>#}
{#							</li>#}
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!--/_header 作为公共模版分离出去-->
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				模型管理
				<span class="c-gray en">/</span>
				模型列表
			</nav>

			<article class="Hui-admin-content clearfix">
				<div class="panel mt-20">
					<div class="panel-body"发布>
						<div class="clearfix">
							<span class="f-l">
                                <a href="javascript:;" onclick="model_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加模型</a>
{#								<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>#}
							</span>
{#							<span class="f-r">共有数据：<strong>3</strong> 条</span>#}
						</div>
						<div class="clearfix mt-20">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
									<tr class="text-c">
										<th width="80">模型ID</th>
										<th width="100">参与者</th>
										<th width="90">模型名称</th>
										<th width="100">建模目的</th>
                                        <th width="100">申请状态</th>
                                        <th width="120">样本对齐成功数量</th>
{#                                        <th width="100">Learning-Rate(学习率)</th>#}
{#                                        <th width="100">Weight-Decay(权重衰减)</th>#}
{#                                        <th width="100">Batch-Size(批次大小)</th>#}
                                        <th width="100">联邦学习</th>
                                        <th width="100">操作</th>
{#                                        <th width="100">精确度</th>#}
{#                                        <th width="100">召回率</th>#}
{#                                        <th width="80">错误率</th>#}
{#										<th width="100">损失值</th>#}
{#                                        <th width="100">模型位置</th>#}
{#                                        <th width="100">模型结果</th>#}
									</tr>
								</thead>
								<tbody id="info">
								</tbody>
							</table>
						</div>

                         <div id="myModal" class="modal">

                          <!-- 模态框内容 -->
                          <div class="modal-content">
                            <p>模型预测中，请稍候...</p>
                            <div class="loader"></div>
                          </div>

                        </div>
                        <div id="myModal1" class="modal">

                          <!-- 模态框内容 -->
                          <div class="modal-content">
                            <p>结果处理中，请稍候...</p>
                            <div class="loader"></div>
                          </div>
                        </div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/static/static/business/js/main.js"></script>
	<script type="text/javascript">
        // 显示模态框
        function showModal() {
          document.getElementById('myModal').style.display = "block";
        }

        // 隐藏模态框
        function hideModal() {
          document.getElementById('myModal').style.display = "none";
        }

        function showModal1() {
          document.getElementById('myModal1').style.display = "block";
        }

        // 隐藏模态框
        function hideModal1() {
          document.getElementById('myModal1').style.display = "none";
        }

		$(function(){

			$.ajax({
				type:"post",
				url:"http://127.0.0.1:8000/searchmodel/",
				dataType:'json',
				success:function (res) {
					console.log("res",res);
					str=''
					if(res.status=="0"){
						var Result=res.data;
						console.log(Result);
						for(var j=0;j<Result.length;j++){
                            var link="http://127.0.0.1:8000/application_result_shappng/"+Result[j][0];
                            str+='<tr class="text-c">'+
                             '<td><a onclick="modeldel_list(this,\''+Result[j][0]+'\')"><i class="Hui-iconfont"></i>'+Result[j][0]+'</a></td>'+
                            '<td>'+Result[j][1]+'</td>'+
                            '<td>'+Result[j][2]+'</td>'+
                            '<td>'+Result[j][3]+'</td>'+
                            '<td>'+Result[j][4]+'</td>'+
                                '<td>77258</td>'+
                            {% comment %}'<td>'+Result[j][5]+'</td>'+
                            '<td>'+Result[j][6]+'</td>'+
                            '<td>'+Result[j][7]+'</td>'+{% endcomment %}
                            {% comment %}'<td><br><a title="联邦训练" onclick="model_test(this,\''+Result[j][0]+'\')" style="color: cornflowerblue;"><i class="Hui-iconfont"></i>联邦训练</a>' +
                            '<br><a title="删除" onclick="model_dele(this,\''+Result[j][0]+'\')" style="color: cornflowerblue;"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>'+{% endcomment %}
                            {% comment %}'<td><a onclick="model_view(this,\''+Result[j][12]+'\',\''+link+'\')"><i class="Hui-iconfont"></i>'+Result[j][8]+'</a></td>'+
                            '<td><a onclick="model_view(this,\''+Result[j][13]+'\',\''+link+'\')"><i class="Hui-iconfont"></i>'+Result[j][9]+'</a></td>'+
                            '<td><a onclick="model_view(this,\''+Result[j][14]+'\',\''+link+'\')"><i class="Hui-iconfont"></i>'+Result[j][10]+'</a></td>'+
                            '<td><a onclick="model_view(this,\''+Result[j][15]+'\',\''+link+'\')"><i class="Hui-iconfont"></i>'+Result[j][11]+'</a></td>'+{% endcomment %}
                                {% comment %}'<td> <a onclick="open_file(this,\''+Result[j][12]+'\')"><i class="Hui-iconfont"></i>'+Result[j][12]+'</a></td>'+{% endcomment %}
                                '<td> <a href="javascript:;" onclick="trainModelresultshow() " class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 开始联邦训练</a></td>'+
                                '<td> <a title="删除" onclick="model_dele(this,\''+Result[j][0]+'\')" style="color: cornflowerblue;"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>'+
                                '</tr>'
						}
						$("#info").append(str)
					}
				}
			})
		});



        function model_test(obj, modelid) {
            console.log("id是", modelid);
            $("myButton").show();
            showModal();
            var modeldelinfo=[];
            var modeldic={
                modelid:modelid,
            };
            console.log("modeldic",modeldic);
            modeldelinfo.push(modeldic);
            console.log("modeldelinfo",modeldelinfo);
            var modeldata = JSON.stringify(modeldelinfo);

            $.ajax({
                type: 'POST',
                url: "http://127.0.0.1:8000/modeltest/",
                dataType:'json',
                data: modeldata,
                success: function (res) {
                    console.log(res);
                    if (res.status == "0") {
                    hideModal();
                    setTimeout(function (){
                        showModal1();
                        alert("样本对齐");
                        setTimeout(function (){
                            alert("模型训练结束");
                            alert("模型保存成功！");
                            hideModal1();
                            location.href = "http://127.0.0.1:8000/model-list/"
                        },3000)
                    },1000)

                    } else if (res.status == "1") {
                        alert("测试未成功！");
                    } else {
                        alert("连接失败！");
                    }
                },
            });
            {#location.href = "http://127.0.0.1:8000/model-list/";#}
        }
        function open_file(obj) {
            location.href = "http://127.0.0.1:8000/open_file_manager1/";
            location.href = "http://127.0.0.1:8000/model-list/";
		}

        function model_view(obj,pngpath,link) {
            window.location.href = link + '?pngpath=' + encodeURIComponent(pngpath);
        }

       function modeldel_list(obj,modelid) {
			location.href = "http://127.0.0.1:8000/modeldel-list/"+modelid+"/";
		}

		function member_edit(obj,userid) {
			var id=JSON.stringify(userid);
			sessionStorage.setItem("userid",id);

			location.href = "http://127.0.0.1:8000/member-edit/";
		}

		function model_add(obj,userid) {
			location.href = "http://127.0.0.1:8000/model-add/";
		}
		
		function model_dele(obj,id) {
			console.log("id:",id);
			var userinfo={
			    id:id
            };
			var userdata = JSON.stringify(userinfo)
            console.log(userinfo)
            console.log(userdata)
			layer.confirm('确认要删除吗？', function (index) {
				$.ajax({
					type: 'post',
					url: 'http://127.0.0.1:8000/deletemodel/',
					dataType: 'json',
					data: userdata,
					success: function (data) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {icon: 1, time: 1000});
					},
					error: function (data) {
						console.log("1");
					},
				});
			});
		}

        function trainModelresultshow() {

            location.href = "http://192.168.1.121:6006/";


        }
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
