<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/lib/html5.js"></script>
	<script type="text/javascript" src="/static/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title>参与者列表-添加参与者</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_menu 作为公共模版分离出去-->
	<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="/aboutHui.shtml">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">H-ui.admin</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">

        <dl id="menu-guest" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 外部合作者管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li class="current"><a href="http://127.0.0.1:8000/multguest-list/" title="参与者列表">外部合作者列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-model" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="http://127.0.0.1:8000/multmodel-list/" title="模型列表">模型列表</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="http://127.0.0.1:8000/multsample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="http://127.0.0.1:8000/multtrain-model/" title="模型训练结果查看">模型训练结果查看</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-guest" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="http://127.0.0.1:8000/multapplication_model-main/"
                                           title="模型使用">模型使用</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="http://127.0.0.1:8000/multapplication_result/" title="模型应用结果">模型应用结果</a></li>
                </ul>
            </dd>

        </dl>
    </div>
</aside>
	<div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
          <nav id="Hui-topNav" class="nav navbar-nav">
            <ul class="clearfix">
              <li><a href="">顶部菜单</a></li>
              <li class="dropDown dropDown_hover">
                <a class="dropDown_A" href="javascript:;">顶部菜单</a>
                <ul class="dropDown-menu menu radius box-shadow">
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
							<li>超级管理员</li>
							<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
									<li><a href="#">切换账户</a></li>
									<li><a href="#">退出</a></li>
								</ul>
							</li>
							<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
							<li id="Hui-skin" class="dropDown dropDown_hover right">
								<a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" data-val="default" title="默认（蓝色）">默认（深蓝）</a></li>
									<li><a href="javascript:;" data-val="black" title="黑色">黑色</a></li>
									<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
									<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
									<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
									<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	<article class="clearfix pd-20">
		<form action="" method="post" class="form form-horizontal" id="form-member-add">
			<div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>参与者：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="guest" name="guest">
				</div>
			</div>
			<div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>ip地址：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="ip" name="ip">
				</div>
			</div>
            <div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>算法协议：</label>
				<div class="form-controls col-xs-6 col-sm-7">
					<input type="text" class="input-text" value="" placeholder="" id="agreement" name="agreement">
				</div>
                <a title="测试" onclick="get_agreement()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6df;</i>获取公共协议</a>
			</div>
{#			<div class="row clearfix">#}
{#				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>#}
{#				<div class="form-controls col-xs-8 col-sm-9">#}
{#					<input type="text" class="input-text" name="password" id="password">#}
{#				</div>#}
{#			</div>#}
			<div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3">备注：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<textarea id="remark" name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="textarealength(this,100)"></textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="button" onclick="submit_order()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>
</section>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">

        function get_agreement() {
			var ip1 = $("#ip").val();
			if(ip1 === ""){
				alert("ip不能为空");
				$("#guest").focus();
				return false
			}
            console.log("ip是", ip1);
            var ipinfo=[];
            var ipdic={
                ip:ip1,
            };
            ipinfo.push(ipdic);
            console.log("userinfo",ipinfo);
            var ipdata = JSON.stringify(ipinfo);

            $.ajax({
                type: 'POST',
                url: "http://127.0.0.1:8000/getagreement/",
                dataType:'json',
                data: ipdata,
                success: function (res) {
                    console.log(res);
                    $("#agreement").val(res.agreement);
                }
            });

            {#location.href = "http://127.0.0.1:8000/multguest-add/";#}
        }
		function submit_order() {
			var guest1=$("#guest").val();
			var ip1 = $("#ip").val();
			var remark1=$("#remark").val();
            var agreement1=$("#agreement").val();
			if(guest1===""){
				alert("用户名不能为空");
				$("#guest").focus();
				return false
			}
			console.log(guest1);
			console.log(ip1);
			console.log(remark1);
			var guestinfo=[];
			var guestdic={
			    guest:guest1,
                ip:ip1,
                remark:remark1,
                agreement: agreement1
            };
			guestinfo.push(guestdic);
			console.log(guestinfo);
			var guestdata = JSON.stringify(guestinfo)
			$.ajax({
				type:"post",
				url:"http://127.0.0.1:8000/createmultguest/",
				data:guestdata,
				dataType:"json",
				success:function (res) {
					console.log("res",res)
					if(res.status=="0"){
						alert("新增成功");
						location.href="http://127.0.0.1:8000/multguest-list/"
					}else{
						alert("出现错误")
					}
				}
			})
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
