<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/lib/html5.js"></script>
	<script type="text/javascript" src="/static/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title>模型列表-添加模型</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
    <aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="/index/">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">铁路隐私计算平台</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">

        <dl id="menu-guest" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 外部合作者管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="/multguest-list/" title="参与者列表">外部合作者列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-guest" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型训练管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li class="current"><a href="/multmodel-list/" title="模型列表">模型列表</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="/multsample-alignment/" title="样本对齐情况">样本对齐情况</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="/multtrain-model/" title="模型训练结果查看">模型训练结果查看</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-guest" class="Hui-menu">
            <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 模型应用<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="/multapplication_model-main/"
                                           title="模型使用">模型使用</a></li>
                </ul>
            </dd>
            <dd class="Hui-menu-item" style="display:block">
                <ul>
                    <li><a href="/multapplication_result/" title="模型应用结果">模型应用结果</a></li>
                </ul>
            </dd>

        </dl>
    </div>
</aside>
	<div class="Hui-admin-aside-mask"></div>

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>
<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
                            <li><a href="/tdindex/" title="返回">返回</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	<article class="clearfix pd-20">
		<form action="" method="post" class="form form-horizontal" id="form-member-add">
			<div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模型ID：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="modelid" name="modelid">
				</div>
			</div>
            <div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>外部合作者：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="guest" name="guest">
				</div>
			</div>
			<div class="row clearfix">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>特征工程：</label>
				<div class="form-controls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="dataurl" name="dataurl">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="button" onclick="submit_order()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>
</section>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.min.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">

		function submit_order() {
			var guest=$("#guest").val();
			var modelid = $("#modelid").val();
			var dataurl=$("#dataurl").val();
			if(guest==""){
				alert("外部合作者不能为空");
				$("#guest").focus();
				return false
			}
            if(modelid==""){
				alert("模型id不能为空");
				$("#model").focus();
				return false
			}
			var modelinfo=[];
			var modeldic={
			    guest:guest,
                modelid:modelid,
                dataurl:dataurl
            };
			modelinfo.push(modeldic);
			console.log(modelinfo);
			var modeldata = JSON.stringify(modelinfo)
			$.ajax({
				type:"post",
				url:"/createmultmodeldel/",
				data:modeldata,
				dataType:"json",
				success:function (res) {
					console.log("res",res)
					if(res.status=="0"){
						alert("新增成功");
						location.href = "/multmodeldel-list/"+modelid;
					}else{
						alert("出现错误")
					}
				}
			})
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
