<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
  <title>新增数据沙箱</title>
</head>
<body>
<style>
    #menu-guest .Hui-menu-title,
    #menu-guest .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }

    #menu-data-confirmation .Hui-menu-title,
    #menu-data-confirmation .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }
    </style>

	<!--_menu 作为公共模版分离出去-->
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">可信数据空间</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/user-list/" title="用户管理">用户管理</a></li>
					</ul>
				</dd>
			</dl>
            <dl id="menu-data-confirmation" class="Hui-menu">
              <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 数据确权<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
              <dd class="Hui-menu-item" style="display:block">
                <ul>
                  <li><a href="http://127.0.0.1:8000/data-confirmation/" title="数据确权">数据确权</a></li>
                </ul>
              </dd>
            </dl>

            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 数据管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/data_asset_list/" title="数据列表">数据列表</a></li>
					</ul>
				</dd>

			</dl>
             <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 项目信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/established_project/" title="已建立项目">已建立项目</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/pengding_project/" title="待接受项目">待接受项目</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 存证信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/records/" title="数据存证信息">数据存证信息</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/project_notarization/" title="项目存证信息">项目存证信息</a></li>
					</ul>
				</dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i>数据安全共享方法<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/wb-interface/" title="数据接口">数据接口</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="http://127.0.0.1:8000/sjsx-interface/" title="数据沙箱">数据沙箱</a></li>
					</ul>
				</dd>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/guest-list/" title="隐私计算">隐私计算</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/multguest-list/" title="密文计算">密文计算</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>
<div class="Hui-admin-dislpayArrow">
  <a href="javascript:void(0);" onClick="displaynavbar(this)">
    <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
    <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
  </a>
</div>
<section class="Hui-admin-article-wrapper">
  <header class="Hui-navbar">
    <div class="navbar">
      <div class="container-fluid clearfix">
        <nav class="nav navbar-nav"></nav>
        <nav class="nav navbar-nav navbar-userbar">

        </nav>
      </div>
    </div>
  </header>
  <article class="clearfix pd-20">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
      首页 <span class="c-gray en">/</span> 数据共享方法 <span class="c-gray en">/</span> 数据沙箱对应IP追踪
    </nav>
    <form action="" method="post" class="form form-horizontal" id="form-sandbox-add">
      <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>输入沙箱路径：</label>
        <div class="form-controls col-xs-8 col-sm-9">
          <input type="text" class="input-text" id="address" name="address" placeholder="请输入沙箱路径">
        </div>
      </div>
        <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>合法IP：</label>
        <div class="form-controls col-xs-8 col-sm-9">
          <input type="text" class="input-text" id="ip" name="ip" placeholder="请输入合法IP">
        </div>
      </div>
<!--&#45;&#45;&#45;&#45;&#45;&#45分割线;-->
      <div class="row clearfix">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
          <input class="btn btn-primary radius" type="button" onclick="submitSandbox()" value="&nbsp;&nbsp;追踪数据沙箱IP&nbsp;&nbsp;">
        </div>
      </div>
    </form>
      <!-- 查询结果展示区域 -->
<div id="ip-log-results" class="mt-20">
  <!-- 这里会插入 IP 访问记录表格 -->
</div>

  </article>
</section>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script>



function submitSandbox() {
 const address = $("#address").val().trim();
  if (!address) {
    layer.msg("请输入沙箱路径后再查询", { icon: 2 });
    $("#address").focus();
    return false;
  }

  const data = {

 address: $('#address').val(),
 ip: $('#ip').val()
};

  $.ajax({
    type: "POST",
    url: "http://127.0.0.1:8000/create-ipbox/",  // 固定调用
    contentType: "application/json",
    dataType: "json",
    data: JSON.stringify({ address: address }),
    success: function(res) {
      if (res.success) {
        renderLogTable(res.data);
      } else {
        layer.msg("查询失败：" + (res.error || '未知错误'), { icon: 2 });
      }
    },
    error: function(err) {
      console.error("请求出错：", err);
      layer.msg("请求出错，请稍后再试", { icon: 2 });
    }
  });
}

function renderLogTable(logs) {
  if (!logs || logs.length === 0) {
    $("#ip-log-results").html('<p class="c-gray">暂无访问记录。</p>');
    return;
  }
  let html = `
    <table class="table table-border table-bordered table-hover">
      <thead>
        <tr class="text-c"><th>访问 IP</th></tr>
      </thead>
      <tbody>
  `;
  logs.forEach(item => {
    html += `
      <tr class="text-c">
        <td>${item.ip}</td>
      </tr>`;
  });
  html += `
      </tbody>
    </table>
  `;
  $("#ip-log-results").html(html);
}


</script>
</body>
</html>