<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/lib/html5.js"></script>
	<script type="text/javascript" src="/static/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/css/h-ui.admin.pro.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin.pro/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/static/business/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title>h-ui.admin.pro v1.0</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
    <style>
    #menu-guest .Hui-menu-title,
    #menu-guest .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }

    #menu-data-confirmation .Hui-menu-title,
    #menu-data-confirmation .Hui-menu-item a {
        color: #FFFFFF !important;  /* 亮白色 */
        text-shadow: 0 1px 2px rgba(0,0,0,0.2); /* 增加文字对比度 */
    }
    </style>

	<!--_menu 作为公共模版分离出去-->
	<aside class="Hui-admin-aside-wrapper">
		<div class="Hui-admin-logo-wrapper">
			<a class="logo navbar-logo" href="/aboutHui.shtml">
				<i class="va-m iconpic global-logo"></i>
				<span class="va-m">可信数据空间</span>
			</a>
		</div>
		<div class="Hui-admin-menu-dropdown bk_2">
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/user-list/" title="用户管理">用户管理</a></li>
					</ul>
				</dd>
			</dl>
            <dl id="menu-data-confirmation" class="Hui-menu">
              <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 数据确权<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
              <dd class="Hui-menu-item" style="display:block">
                <ul>
                  <li><a href="http://127.0.0.1:8000/data-confirmation/" title="数据确权">数据确权</a></li>
                </ul>
              </dd>
            </dl>

            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 数据管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/data_asset_list/" title="数据列表">数据列表</a></li>
					</ul>
				</dd>

			</dl>
             <dl id="menu-guest" class="Hui-menu">
                <dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 项目信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/established_project/" title="已建立项目">已建立项目</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/pengding_project/" title="待接受项目">待接受项目</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i> 存证信息管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/records/" title="数据存证信息">数据存证信息</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/project_notarization/" title="项目存证信息">项目存证信息</a></li>
					</ul>
				</dd>
			</dl>
            <dl id="menu-guest" class="Hui-menu">
				<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe60d;</i>数据安全共享方法<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li class="current"><a href="http://127.0.0.1:8000/wb-interface/" title="数据接口">数据接口</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/sjsx-interface/" title="数据沙箱">数据沙箱</a></li>
					</ul>
				</dd>
				<dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/index/" title="隐私计算">隐私计算</a></li>
					</ul>
				</dd>
                <dd class="Hui-menu-item" style="display:block">
					<ul>
						<li><a href="http://127.0.0.1:8000/mutiindex/" title="密文计算">密文计算</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>

	<!--/_menu 作为公共模版分离出去-->

	<div class="Hui-admin-dislpayArrow">
		<a href="javascript:void(0);" onClick="displaynavbar(this)">
			<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
			<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
		</a>
	</div>

	<section class="Hui-admin-article-wrapper">
		<!--_header 作为公共模版分离出去-->
		<header class="Hui-navbar">
			<div class="navbar">
				<div class="container-fluid clearfix">
          <nav id="Hui-topNav" class="nav navbar-nav">
            <ul class="clearfix">
              {% comment %}<li><a href="">顶部菜单</a></li>{% endcomment %}
              <li class="dropDown dropDown_hover">
                {% comment %}<a class="dropDown_A" href="javascript:;">顶部菜单</a>{% endcomment %}
                <ul class="dropDown-menu menu radius box-shadow">
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                  <li class="">
                    <a href="#">二级导航</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
					<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
						<ul class="clearfix">
							{% comment %}<li>超级管理员</li>{% endcomment %}
							<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
									<li><a href="#">切换账户</a></li>
									<li><a href="#">退出</a></li>
								</ul>
							</li>
							{% comment %}<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
							<li id="Hui-skin" class="dropDown dropDown_hover right">
								<a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
								<ul class="dropDown-menu menu radius box-shadow">
									<li><a href="javascript:;" data-val="default" title="默认（蓝色）">默认（深蓝）</a></li>
									<li><a href="javascript:;" data-val="black" title="黑色">黑色</a></li>
									<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
									<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
									<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
									<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
								</ul>
							</li>{% endcomment %}
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!--/_header 作为公共模版分离出去-->
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				数据共享方法
				<span class="c-gray en">/</span>
				数据接口
			</nav>

			<article class="Hui-admin-content clearfix">
{#				<div class="panel">#}
{#					<div class="panel-body"发布>#}
{#						<div class="text-c"> 日期范围：#}
{#							<input type="text" id="search-datetime-start" class="input-text datetimepicker-input" style="width:120px;">#}
{#							-#}
{#							<input type="text" id="search-datetime-end" class="input-text datetimepicker-input" style="width:120px;">#}
{#							<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">#}
{#							<button type="submit" class="btn btn-success radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
				<div class="panel mt-20">
					<div class="panel-body"发布>
						<div class="clearfix">
                            <span class="f-l">
{#                                 {% if current_user.id == 18 %}#}
                                <a href="javascript:;" id="interfaceAdd" onclick="interface_add()" class="btn btn-primary radius" style="margin-right: 20px;">
                                    <i class="Hui-iconfont">&#xe600;</i> 新增数据接口
                                </a>
{#                                {% endif %}#}


                                <a href="javascript:;" onclick="downloadSelected()" class="btn btn-primary radius">
                                    调用数据接口
                                </a>
                            </span>
                        </div>
						<div class="clearfix mt-20">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
									<tr class="text-c">
                                        <th width="30">选择</th>
										<th width="80">ID</th>
										<th width="100">接口所存数据名称</th>
                                        <th width="100">接口地址（URL）</th>
										<th width="90">接口协议</th>
                                        <th width="100">接口类型</th>
                                        <th width="100">相应格式</th>
                                        <th width="100">访问授权范围</th>
                                        <th width="100">项目名称</th>
                                        <th width="100">操作</th>
									</tr>
								</thead>
								<tbody id="info">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/static/h-ui.admin.pro/js/h-ui.admin.pro.js"></script>
<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/static/static/business/js/main.js"></script>
	<script type="text/javascript">
        // 在全局作用域定义变量
        let selectedInterface = {
            url: null,
            filename: null
        };

        // 全局变量存储用户信息
        var currentUser = {
            id: "{{ current_user.id }}",
            account: "{{ current_user.account }}",
        };

        // 监听单选按钮变化（事件委托）
        $(document).on('change', 'input[name="selected_interface"]', function() {
            selectedInterface.url = $(this).data('url');
            selectedInterface.webName = $(this).data('webName');
            console.log(selectedInterface.url);
        });

        // 页面加载时检查 sessionStorage
        document.addEventListener('DOMContentLoaded', function() {
          // 从 sessionStorage 读取值
          const targetId = sessionStorage.getItem('target_id');
          console.log(targetId)
          // 根据值是否存在控制按钮显示
          const btn = document.getElementById('interfaceAdd');
          //数据所有方
          if (parseInt(targetId) === 1) {
            btn.style.display = 'inline-block';  // 显示按钮
          }
          //数据需求方
          else {
            {#btn.style.display = 'none';  // 隐藏按钮#}
          }

          // 如果只需使用一次，可清除 sessionStorage
          sessionStorage.removeItem('target_id');
        });

		$(function(){
            // 或通过 JavaScript 变量获取
            console.log("当前用户ID:", currentUser.id);
            console.log("当前用户名:", currentUser.account);
			$.ajax({
				type:"post",
				url:"http://127.0.0.1:8000/searchinterface/",
				dataType:'json',
				success:function (res) {
					console.log("res",res);
					str=''
					if(res.status=="0"){
						var Result=res.data;
						console.log(Result);
						for(var j=0;j<Result.length;j++){
                            str+='<tr class="text-c">'+
                                 '<td>' +
                                    '<input type="radio" name="selected_interface" ' +
                                            'data-webName="' + Result[j][1] + '" '+
                                           'data-url="' + Result[j][2] + '" />' +
                                '</td>' +
                                 '<td>'+Result[j][0]+'</td>'+
                                '<td>'+Result[j][1]+'</td>'+
                               '<td>'+Result[j][2]+'</td>'+
                                '<td>'+Result[j][3]+'</td>'+
                                '<td>'+Result[j][4]+'</td>'+
                                '<td>'+Result[j][5]+'</td>'+
                                '<td>'+Result[j][6]+'</td>'+
                                '<td>'+Result[j][7]+'</td>'+
                                '<td><a title="编辑" onclick="interface_edit(this,\''+Result[j][0]+'\')"><i class="Hui-iconfont">&#xe6df;</i>编辑</a><a title="删除" onclick="interface_dele(this,\''+Result[j][0]+'\')"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>'+
                            '</tr>'
						}
						$("#info").append(str)
					}
				}
			})
		});


        function downloadSelected() {
            const selectedRadio = document.querySelector('input[name="selected_interface"]:checked');
            if (!selectedRadio) {
                layer.msg('请先选择一条数据', {icon: 2});
                return;
            }
            const apiUrl = selectedRadio.dataset.url;
            const webName = selectedRadio.dataset.webName;
            console.log(webName)
            console.log(apiUrl)
            window.location.href = apiUrl;  // 直接跳转触发下载
            $.ajax({
				type:"post",
				url:"http://127.0.0.1:8000/useBlockchain/",
                data:webName,
				dataType:'string',
				success:function (res) {
					console.log("res",res);
				}
			})
            alert("调用成功，已通过区块链存证");
        }

		function interface_add(obj,userid) {
			location.href = "http://127.0.0.1:8000/interface-add/";
		}


        function interface_edit(obj,id) {
        var id=JSON.stringify(id);
        sessionStorage.setItem("id",id);

        location.href = "http://127.0.0.1:8000/interface-edit/";
		}

		function interface_dele(obj,id) {
			console.log("id:",id);
			var interfaceinfo={
			    id:id
            };
			var interfacedata = JSON.stringify(interfaceinfo)
            console.log(interfaceinfo)
            console.log(interfacedata)
			layer.confirm('确认要删除吗？', function (index) {
				$.ajax({
					type: 'post',
					url: 'http://127.0.0.1:8000/deleteinterface/',
					dataType: 'json',
					data: interfacedata,
					success: function (data) {
                        console.log("data",data);
                        if(data.status=="0") {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', {icon: 1, time: 1000});
                        }
					},
					error: function (data) {
						console.log("data",data);
					},
				});
			});
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
